/* General Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a{
  color: aquamarine;
}
a:visited{
  color: aquamarine;
}

.quiz-container {
  background-color: #fff;
  background-color: #444;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
  color: #fff;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

button.selected {
  background-color: #28a745;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.home-button{
  width: 100%;
  background-color: #138799;
}
.home-button:hover{
  background-color: #138496;
}

/* Feedback */
.feedback {
  font-size: 1.2rem;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;

}

.feedback.correct {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.feedback.incorrect {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.category-selection {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.category-selection h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.category-selection button {
  background-color: #6c757d;
  padding: 15px;
  margin: 10px;
  color: white;
  border-radius: 5px;
}

.category-selection button:hover {
  background-color: #5a6268;
}

/* Next Button */
button.next-btn {
  background-color: #28a745;
}

button.next-btn:hover {
  background-color: #218838;
}

/* Quiz Finished Message */
.quiz-container p {
  font-size: 1.2rem;
  color: #333;
  color: white;
}

.full-btn{
  width: 100%;
}

/* Mobile Friendly Adjustments */
@media (max-width: 768px) {
  .quiz-container {
    width: 90%;
    padding: 15px;
  }

  button {
    font-size: 0.9rem;
    padding: 12px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .feedback {
    font-size: 1rem;
  }
}
